body{
    margin:0;
    padding:0;
    font-family:'Open Sans', Arial, sans-serif;
    display:flex;
    flex-direction:row;
  }
  body main{
    width:65vw;
    padding:20px;
    margin-left:29%;
  text-align:justify;
  }
  h1{
    font-size:30px;
  }
  body nav{
    width:25vw;
    position:fixed;
    height:100vh;
    border:2px solid black;
  }
  #navbar{
    border-right:solid;
  border-color:black;
  
  }
  #one{
    border-top:1px solid grey;
  }
  @media(max-width:100%){
  #last{
    border-bottom:none;
  }
  }
  .nav-link{
    padding:11px 11px;
    display:block;
    font-size:20px;
    text-align:left;
    border-bottom:1px solid gray;
    text-decoration:none;
    color:grey;
  }
  #navbar header{
    text-align:center;
  }