img{
    max-width:100%;
    height:auto;
    margin:auto;
    display:block;
    }
    body{
    text-align:center;
    }
    main{
    background-color:#eee;
    }
    #img-div{
    background-color:white;
    }
    #tribute-info{
    display:block;
    width:50%;
    margin:0 25%;
    }
    ul li{
    margin-bottom:5px;
    text-align:left;
    }